<app-activity
  [title]="lesson.title"
  [description]="lesson.description"
  [showSolutionLink]="false"
  [showContent]="false"
  [showResult]="false"
></app-activity>

<app-activity
  [title]="activity1.title"
  [description]="activity1.description"
  [steps]="activity1.steps"
  [solution]="activity1.solution"
  [result]="results1"
>
  <button class="btn btn-primary" (click)="exerciseOne()">Verify 1</button>

  <br /><br />
  <ng-container *ngIf="results1"></ng-container>
</app-activity>

<app-activity
  [title]="activity2.title"
  [description]="activity2.description"
  [steps]="activity2.steps"
  [solution]="activity2.solution"
  [result]="results2"
>
  <button class="btn btn-primary" (click)="exerciseTwo()">Verify 2</button>

  <br /><br />
  <ng-container *ngIf="results2"></ng-container>
</app-activity>

<app-activity
  [title]="activity3.title"
  [description]="activity3.description"
  [steps]="activity3.steps"
  [solution]="activity3.solution"
  [result]="results3"
>
  <button class="btn btn-primary" (click)="exerciseThree()">Verify 3</button>

  <br /><br />
  <ng-container *ngIf="results3"></ng-container>
</app-activity>

<app-activity
  [title]="activity4.title"
  [description]="activity4.description"
  [steps]="activity4.steps"
  [solution]="activity4.solution"
  [result]="results4"
>
  <button class="btn btn-primary" (click)="exerciseFour()">Verify 4</button>

  <br /><br />
  <ng-container *ngIf="results4"></ng-container>
</app-activity>

<app-activity
  [title]="activity5.title"
  [description]="activity5.description"
  [steps]="activity5.steps"
  [solution]="activity5.solution"
  [result]="results5"
>
  <button class="btn btn-primary" (click)="exerciseFive()">Verify 5</button>

  <br /><br />
  <ng-container *ngIf="results5"></ng-container>
</app-activity>

<app-activity
  [title]="activity6.title"
  [description]="activity6.description"
  [steps]="activity6.steps"
  [solution]="activity6.solution"
  [result]="results6"
>
  <button class="btn btn-primary" (click)="exerciseSix()">Verify 6</button>

  <br /><br />
  <ng-container *ngIf="results6"></ng-container>
</app-activity>

<app-activity
  [title]="activity7.title"
  [description]="activity7.description"
  [steps]="activity7.steps"
  [solution]="activity7.solution"
  [result]="results7"
>
  <button class="btn btn-primary" (click)="exerciseSeven()">Verify 7</button>

  <br /><br />
  <ng-container *ngIf="results7"></ng-container>
</app-activity>

<app-activity
  [title]="activity8.title"
  [description]="activity8.description"
  [steps]="activity8.steps"
  [solution]="activity8.solution"
  [result]="results8"
>
  <button class="btn btn-primary" (click)="exerciseEigth()">Verify 8</button>

  <br /><br />
  <ng-container *ngIf="results8"></ng-container>
</app-activity>

<app-activity
  [title]="activity9.title"
  [description]="activity9.description"
  [steps]="activity9.steps"
  [solution]="activity9.solution"
  [result]="results9"
>
  <button class="btn btn-primary" (click)="exerciseNine()">Verify 9</button>

  <br /><br />
  <ng-container *ngIf="results9"></ng-container>
</app-activity>

<app-activity
  [title]="activity10.title"
  [description]="activity10.description"
  [steps]="activity10.steps"
  [solution]="activity10.solution"
  [result]="results10"
>
  <button class="btn btn-primary" (click)="exerciseTen()">Verify 10</button>

  <br /><br />
  <ng-container *ngIf="results10"></ng-container>
</app-activity>

<app-activity
  [title]="activity11.title"
  [description]="activity11.description"
  [steps]="activity11.steps"
  [solution]="activity11.solution"
  [result]="results11"
>
  <button class="btn btn-primary" (click)="exerciseEleven()">Verify 11</button>

  <br /><br />
  <ng-container *ngIf="results11"></ng-container>
</app-activity>

<app-activity
  [title]="activity12.title"
  [description]="activity12.description"
  [steps]="activity12.steps"
  [solution]="activity12.solution"
  [result]="results12"
>
  <button class="btn btn-primary" (click)="exerciseTwelve()">Verify 12</button>

  <br /><br />
  <ng-container *ngIf="results12"></ng-container>
</app-activity>

<app-activity
  [title]="activity13.title"
  [description]="activity13.description"
  [steps]="activity13.steps"
  [solution]="activity13.solution"
  [result]="results13"
>
  <button class="btn btn-primary" (click)="exerciseThirteen()">Verify 13</button>

  <br /><br />
  <ng-container *ngIf="results13"></ng-container>
</app-activity>
