<app-activity
  [title]="lesson.title"
  [description]="lesson.description"
  [showSolutionLink]="false"
  [showContent]="false"
  [showResult]="false"
></app-activity>

<app-activity
  [title]="activity1.title"
  [description]="activity1.description"
  [steps]="activity1.steps"
  [solution]="activity1.solution"
  [result]="results1"
>
  <button class="btn btn-primary" (click)="exerciseOne()">Verify 1</button>

  <br /><br />
  <ng-container *ngIf="results1"></ng-container>
</app-activity>

<app-activity
  [title]="activity2.title"
  [description]="activity2.description"
  [steps]="activity2.steps"
  [solution]="activity2.solution"
  [result]="results2"
>
  <button class="btn btn-primary" (click)="exerciseTwo()">Verify 2</button>

  <br /><br />
  <ng-container *ngIf="results2"></ng-container>
</app-activity>

<app-activity
  [title]="activity3.title"
  [description]="activity3.description"
  [steps]="activity3.steps"
  [solution]="activity3.solution"
  [result]="results3"
>
  <button class="btn btn-primary" (click)="exerciseThree()">Verify 3</button>

  <br /><br />
  <ng-container *ngIf="results3"></ng-container>
</app-activity>

<app-activity
  [title]="activity4.title"
  [description]="activity4.description"
  [steps]="activity4.steps"
  [solution]="activity4.solution"
  [result]="results4"
>
  <button class="btn btn-primary" (click)="exerciseFour()">Verify 4</button>

  <br /><br />
  <ng-container *ngIf="results4"></ng-container>
</app-activity>

<app-activity
  [title]="activity5.title"
  [description]="activity5.description"
  [steps]="activity5.steps"
  [solution]="activity5.solution"
  [result]="results5"
>
  <button class="btn btn-primary" (click)="exerciseFive()">Verify 5</button>

  <br /><br />
  <ng-container *ngIf="results5"></ng-container>
</app-activity>

<app-activity
  [title]="activity6.title"
  [description]="activity6.description"
  [steps]="activity6.steps"
  [solution]="activity6.solution"
  [result]="results6"
>
  <button class="btn btn-primary" (click)="exerciseSix()">Verify 6</button>

  <br /><br />
  <ng-container *ngIf="results6"></ng-container>
</app-activity>
